* {
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #0B0B0B;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.header {
    height: 100vh;
    position: absolute;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 36px;
    margin-bottom: 29px;
}

.header-btn {
    height: 60px;
    width: 60px;
    border: solid 1px #fff;
    margin-top: 31px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-btn div {
    width: 36px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;    
}

.header-content__title{
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 40px;
}

.header-content__text {
    width: 284px;
    margin-bottom: 25px;
}

.header-content__btn {
    display: inline-block;
    border: 1px solid #fff;
    padding: 30px 62px;
    background: rgba(255, 255, 255, 0.15);
    transition: all .5s;
}

.header-content__btn:hover {
    background-color: #770302;;
}

.slider__item {
 height: 100vh; 
 background-repeat: no-repeat; 
 background-size: cover; 
 background-position: center;
}

.slider .slick-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0B0B0B;
    border: none;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    outline: none;
}
.slider .slick-dots .slick-active button {
    background-color: #fff;
}

.slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slider .slick-dots{
    position: relative;
    margin: -55px auto 0;
    z-index: 6;
    max-width: 1215px;    
}