* {
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #0B0B0B;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.header {
    height: 100vh;
    position: absolute;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 36px;
    margin-bottom: 29px;
}

.header-btn {
    height: 60px;
    width: 60px;
    border: solid 1px #fff;
    margin-top: 31px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-btn div {
    width: 36px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;    
}

.header-content__title{
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 40px;
}

.header-content__text {
    width: 284px;
    margin-bottom: 25px;
}

.button {
    display: inline-block;
    border: 1px solid #fff;
    padding: 30px 62px;
    background: rgba(255, 255, 255, 0.15);
    transition: all .5s;
}

.button:hover {
    background-color: #770302;;
}

.menu{
    background-color: #000;
    position: absolute;
    top: 0;    
    width: 100%;
    left: -100%;
}

.container-menu{
    position: relative;
}

.close-btn{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;    
    top: 31px;
    cursor: pointer;
}

.close-btn::after,
.close-btn::before{
    content: '';
    width: 70px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform-origin: left;
}

.close-btn::after{
    transform: rotate(45deg);
}

.close-btn::before{
    transform: rotate(-45deg);
    bottom: -1px;
}

.menu__list{
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu__list a{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    padding: 30px 25px 14px 0;
    border-bottom: 3px solid #B70021;
    display: inline-block;
    min-width: 368px;
    transition: all .7s;    
}

.menu__list a:hover{
    border-color: #fff;
    color: #B70021;
    transform: scale(1.2);
    margin-left: 30px;
}

.slider__item {
 height: 100vh; 
 background-repeat: no-repeat; 
 background-size: cover; 
 background-position: center;
}

.slider .slick-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0B0B0B;
    border: none;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    outline: none;
}
.slider .slick-dots .slick-active button {
    background-color: #fff;
}

.slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slider .slick-dots{
    position: relative;
    margin: -55px auto 0;
    z-index: 6;
    max-width: 1200px;    
}
.statistics {
    margin: 160px 0 100px;
}

.statistics-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.statistics-item__title{
    margin-bottom: 19px;
}

.statistics-item__num{
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;
}

.statistics-item__num span{
    font-size: 24px;
    line-height: 28px;
    margin-left: -20px;
}

.statistics-item__descr{
    color: #B70021;
}

.statistics-item__num--speed span{
    display: inline-block;
    position: relative;
}

.statistics-item__num--speed span::before {
    content: '+';
    position: absolute;
    top: -60px; 
}

.video{
    margin-bottom: 100px;
}

.advanteges-inner_row{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.advantages__title{
    font-size: 36px;
    line-height: 42px;
    color: #B70021;
    position: absolute; 
    top: 0;      
}

.advantages__text{
    width: 303px;
}

.advanteges-descr{
    max-width: 570px;
    width: 100%;
    }

.advantages__title--bottom{
    bottom: 0;
    top: auto;
    right: 0;
}

.desight__images{
    margin-bottom: 100px;
}

.design-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
}

.design-row__item{
    max-width: 570px;
    width: 100%;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}
.desighn-row__item-num{
    color: #B70021;
}

.desighn-row__item-text{
    max-width: 430px;
    padding-top: 25px;
}

.footer{
    background-color: #690102;
    padding: 83px 0 20px;
}

.footer-btn{
    text-align: center;
    margin-bottom: 83px;
}

.footer-copy{
    text-align: center;
    font-weight: 700;
}

.footer-copy li{
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

.footer-copy li + li::before{
    content: '|';
    position: absolute;
    left: -6px;
}
